{
  "openapi": "3.0.1",
  "info": {
    "title": "Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.revmetrix.io"
    }
  ],
  "paths": {
    "/api/Research/Testing": {
      "post": {
        "tags": [
          "Research"
        ],
        "operationId": "Testing",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/ByeBye": {
      "post": {
        "tags": [
          "SuperUser"
        ],
        "operationId": "ByeBye",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Password"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Password"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/HashAndSalt": {
      "post": {
        "tags": [
          "SuperUser"
        ],
        "operationId": "HashAndSalt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Password"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Password"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HashAndSalt"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashAndSalt"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashAndSalt"
                }
              }
            }
          }
        }
      }
    },
    "/api/Test/Test": {
      "get": {
        "tags": [
          "Test"
        ],
        "operationId": "Test",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Test/TestAuthorize": {
      "get": {
        "tags": [
          "Test"
        ],
        "operationId": "TestAuthorize",
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Test/TestAuthenticateAdmin": {
      "get": {
        "tags": [
          "Test"
        ],
        "operationId": "TestAuthenticateAdmin",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Test/TestTime": {
      "get": {
        "tags": [
          "Test"
        ],
        "operationId": "TestTime",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DateTimePoco"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DateTimePoco"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DateTimePoco"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/Authorize": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "Authorize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/Refresh": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "Refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ByteArrayToken"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ByteArrayToken"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ByteArrayToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/Register": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "Register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DualToken"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/Logout": {
      "delete": {
        "tags": [
          "User"
        ],
        "operationId": "Logout",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/User/Unregister": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "Unregister",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentification"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/User/InsertShot": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "InsertShot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Shot"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Shot"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Shot"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/InsertBall": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "InsertBall",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ball"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ball"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ball"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/StartSession": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "StartSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Session"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Session"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Session"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/StartPractice": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "StartPractice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Practice"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Practice"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Practice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/StartEvent": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "StartEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/StartGame": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "StartGame",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Game"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Game"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Game"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/StartFrame": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "StartFrame",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Frame"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Frame"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Frame"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/GetUsers": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "GetUsers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserIdentification"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserIdentification"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserIdentification"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Ball": {
        "type": "object",
        "properties": {
          "weight": {
            "type": "number",
            "format": "float"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ByteArrayToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "format": "byte",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DateTimePoco": {
        "type": "object",
        "properties": {
          "dateTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "DualToken": {
        "type": "object",
        "properties": {
          "tokenA": {
            "type": "string",
            "nullable": true
          },
          "tokenB": {
            "type": "string",
            "format": "byte",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Event": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer",
            "format": "int32"
          },
          "event_type": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Frame": {
        "type": "object",
        "properties": {
          "game_id": {
            "type": "integer",
            "format": "int32"
          },
          "score": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Game": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "integer",
            "format": "int32"
          },
          "score": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "HashAndSalt": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string",
            "format": "byte",
            "nullable": true
          },
          "salt": {
            "type": "string",
            "format": "byte",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Password": {
        "type": "object",
        "properties": {
          "rawPassword": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Practice": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "Session": {
        "type": "object",
        "properties": {
          "leauge_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "tournament_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "practice_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "total_Games": {
            "type": "integer",
            "format": "int32"
          },
          "total_Frames": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Shot": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer",
            "format": "int32"
          },
          "frame_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ball_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "video_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "ddx": {
            "type": "number",
            "format": "float"
          },
          "ddy": {
            "type": "number",
            "format": "float"
          },
          "ddz": {
            "type": "number",
            "format": "float"
          },
          "x_position": {
            "type": "number",
            "format": "float"
          },
          "y_position": {
            "type": "number",
            "format": "float"
          },
          "z_position": {
            "type": "number",
            "format": "float"
          }
        },
        "additionalProperties": false
      },
      "UserIdentification": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string",
            "nullable": true
          },
          "lastname": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}